ersion: '3.8'

services:
  db:
    image: probinetcampoy/mysql-cityguide-db:v3
    container_name: mysql-db
    restart: always
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/seed.sql:/docker-entrypoint-initdb.d/seed.sql
    networks:
      - app-network
    ports:
      - "3306:3306"

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
